<template>
  <button :type="type" :class="['base-button', mode]" @click.prevent="onClick">
    <slot />
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'vue-property-decorator';
type ButtonMode = 'primary' | 'secondary' | 'default';
type ButtonType = 'button' | 'submit' | 'reset';

@Component
export default class BaseButton extends Vue {
  @Prop({ type: String, default: 'default' })
  readonly mode!: ButtonMode;
  @Prop({ type: String, default: 'button' })
  readonly type!: ButtonType;

  @Emit()
  onClick(e: Event): Event {
    return e;
  }
}
</script>

<style lang="scss" scoped>
.base-button {
  margin-right: $spacing-unit;
  min-width: 100px;
  height: 30px;
  padding: 0 $spacing-unit * 2;
  font-family: $font-family;
  color: $color-secondary;
  font-size: $font-size-regular;
  line-height: 100%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: $transition-basic;
  overflow-y: hidden;
  width: max-content;
}

.primary {
  font-weight: 500;
  color: $color-neutral-4;
  background-color: $color-primary;

  &:hover {
    color: $color-secondary;
    background-color: $color-primary-light;
  }
}

.secondary {
  background-color: $color-neutral-2;

  &:hover {
    background-color: $color-neutral-3;
  }
}

.default {
  background-color: transparent;
  border: 1px solid $color-primary-light;

  &:hover {
    background-color: $color-primary-light;
  }
}
</style>
