<template>
  <div class="modal__backdrop">
    <dialog class="modal" open>
      <header class="modal__header">
        <slot name="header" />
      </header>
      <section class="modal__section">
        <slot />
      </section>
      <menu class="modal__menu">
        <slot name="actions" />
      </menu>
    </dialog>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
@Component({})
export default class TheModel extends Vue {}
</script>

<style lang="scss" scoped>
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: $color-secondary-shadow;
}

.modal {
  position: fixed;
  top: 20vh;
  border-radius: 12px;
  font-family: $font-family;
  border: none;
  box-shadow: 0 2px $spacing-unit * 0.8 rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0;
  overflow: hidden;
  left: calc(50% - 20rem);
  width: 40rem;
}

.modal__header {
  background-color: $color-primary;
  color: $color-primary-light;
  width: 100%;
  padding: $spacing-unit * 1.5;
}

.modal__section {
  padding: $spacing-unit * 1.5;
}

.modal__menu {
  padding: $spacing-unit * 1.5;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
</style>
