<template>
  <router-link class="base-link" :to="to">
    <div :class="['text__container', mode]">
      <slot />
    </div>
  </router-link>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
type LinkMode = 'primary' | 'secondary' | 'default';

@Component({})
export default class BaseLink extends Vue {
  @Prop({ type: String, default: 'default' })
  readonly mode!: LinkMode;
  @Prop({ type: String, default: '/' })
  readonly to!: string;
}
</script>

<style lang="scss" scoped>
.base-link {
  text-decoration: none;
}

.text__container {
  margin-right: $spacing-unit;
  min-width: 100px;
  height: 30px;
  padding: 0 $spacing-unit * 2;
  font-family: $font-family;
  color: $color-secondary;
  font-size: $font-size-regular;
  line-height: 100%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: $transition-basic;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  font-weight: 500;
  color: $color-neutral-4;
  background-color: $color-primary;

  &:hover {
    color: $color-secondary;
    background-color: $color-primary-light;
  }
}

.secondary {
  background-color: $color-neutral-2;

  &:hover {
    background-color: $color-neutral-3;
  }
}

.default {
  background-color: transparent;
  border: 1px solid $color-primary-light;

  &:hover {
    background-color: $color-primary-light;
    border: none;
  }
}
</style>
