<template>
  <img :src="src" :alt="alt" class="base-image" />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseImage extends Vue {
  @Prop({ required: true, type: String })
  readonly src!: string;
  @Prop({ required: true, type: String })
  readonly alt!: string;
}
</script>

<style lang="scss" scoped>
.base-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
