<template>
  <button class="delete-button" @click="deleteItem" title="Delete">
    <i class="fas fa-times" />
  </button>
</template>

<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';

@Component
export default class DeleteButton extends Vue {
  @Emit()
  // eslint-disable-next-line @typescript-eslint/no-empty-function
  deleteItem(): void {}
}
</script>

<style lang="scss" scoped>
.delete-button {
  width: 23px;
  height: 23px;
  padding: 0;
  margin: 0 $spacing-unit / 2;
  font-family: $font-family;
  font-size: $font-size-large;
  color: $color-primary;
  border: 2px solid $color-primary-light;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: $transition-basic;

  & .fa-times {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    color: $color-neutral-4;
    background-color: $color-primary;
  }
}
</style>
