<template>
  <base-modal>
    <template #header><slot name="header" /></template>
    <template #default><slot name="default" /> </template>
    <template #actions>
      <base-button @on-click="actionType">Yes</base-button>
      <base-button mode="primary" @on-click="showModal">Cancel</base-button>
    </template>
  </base-modal>
</template>

<script lang="ts">
import { Vue, Component, Emit } from 'vue-property-decorator';
import BaseModal from './BaseModal.vue';
import BaseButton from './BaseButton.vue';
@Component({
  components: {
    BaseModal,
    BaseButton,
  },
})
export default class Modal extends Vue {
  /* eslint-disable @typescript-eslint/no-empty-function */
  @Emit('show-modal')
  showModal(): void {}

  @Emit('action-type')
  actionType(): void {}
}
</script>
