<template>
  <base-button @on-click="convertToCSV">Export</base-button>
</template>

<script lang="ts">
import { CityI, CountryI, ContinentI } from '@/typings';
import { Component, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import BaseButton from '../../components/UI/shared/BaseButton.vue';
import Papa from 'papaparse';
import FileSaver from 'file-saver';
import { CSVFileFormatKeys } from './utils';

@Component({
  components: {
    BaseButton,
  },
})
export default class Export extends Vue {
  @Getter('cities/citiesData') cities!: CityI[];
  @Getter('countries/countriesList') countries!: CountryI[];
  @Getter('continents/continentsList') continents!: ContinentI[];
  @Action('cities/fetchCities') fetchCities!: () => void;
  @Action('countries/fetchCountries') fetchCountries!: () => void;
  @Action('continents/fetchContinents') fetchContinents!: () => void;

  convertToCSV(): void {
    this.fetchCities();
    this.fetchCountries();
    this.fetchContinents();

    const pick = (obj: ContinentI | CityI | CountryI, props: string[]) => {
      // Create new object
      const picked: Record<string, unknown> = {};
      // Loop through props and push to new object
      props.forEach((prop) => {
        picked[prop] = obj[prop];
      });
      // Return new object
      return picked;
    };
    const exportItems = [];
    for (const iterator of this.continents) {
      const pickedItems = pick(iterator, CSVFileFormatKeys);
      exportItems.push(pickedItems);
    }
    for (const iterator of this.countries) {
      const pickedItems = pick(iterator, CSVFileFormatKeys);
      exportItems.push(pickedItems);
    }
    for (const iterator of this.cities) {
      const pickedItems = pick(iterator, CSVFileFormatKeys);
      exportItems.push(pickedItems);
    }

    const data = Papa.unparse(exportItems);
    const blob = new Blob([data], {
      type: 'text/plain;charset=utf-8',
    });
    FileSaver.saveAs(blob, 'backup_data.csv');
  }
}
</script>

<style></style>
