<template>
  <form class="import-form">
    <input
      type="file"
      id="import"
      accept=".csv"
      @input="handleInput"
      ref="fileInput"
      hidden
    />
    <label for="import" class="import-form__input">Select file</label>
    <div v-if="fileName" class="import-form__selected-file">
      <span>{{ fileName }}</span>
      <delete-button @delete-item="handleDeleteSelection" />
    </div>
    <label class="import-form__checkbox">
      <form-checkbox name="overwrite" v-model="overwrite" />
      Overwrite existing data
    </label>
    <base-button v-if="hasFileData" type="submit" @on-click="handleUpload"
      >Upload data</base-button
    >
  </form>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action } from 'vuex-class';
import Papa from 'papaparse';
import {
  ContinentI,
  CountryI,
  CityI,
  CSVFileFormat,
  DataToUpload,
} from '../../typings';
import BaseButton from '../../components/UI/shared/BaseButton.vue';
import DeleteButton from '../../components/UI/shared/DeleteButton.vue';
import FormCheckbox from '../../components/UI/form/FormCheckbox.vue';

@Component({
  components: {
    BaseButton,
    DeleteButton,
    FormCheckbox,
  },
})
export default class ImportData extends Vue {
  @Action('continents/uploadContinents') uploadContinents!: (
    data: DataToUpload
  ) => void;
  @Action('countries/uploadCountries') uploadCountries!: (
    data: DataToUpload
  ) => void;
  @Action('cities/uploadCities') uploadCities!: (data: DataToUpload) => void;

  fileName: string = '';
  fileData: CSVFileFormat[] = [];
  overwrite: boolean = true;

  get hasFileData(): boolean {
    return this.fileData.length !== 0 ? true : false;
  }

  handleInput(event: Event): void {
    const target = event.target as HTMLInputElement;
    if (target === null || target.files === null || target.files.length === 0) {
      console.log('File not selected');
      return;
    }
    Papa.parse(target.files[0], {
      header: true,
      dynamicTyping: true,
      encoding: 'UTF-8',
      skipEmptyLines: true,
      complete: (results) => {
        this.fileData = results.data as CSVFileFormat[];
      },
      error: (error) => {
        alert('Error: parsing csv file failed.');
        console.log(error);
      },
    });
    this.fileName = target.files[0].name;
  }

  handleDeleteSelection(): void {
    const fileInput = this.$refs.fileInput as HTMLInputElement;
    fileInput.value = '';
    this.fileName = '';
    this.fileData = [];
  }

  handleUpload(): void {
    const continents: ContinentI[] = [];
    const countries: CountryI[] = [];
    const cities: CityI[] = [];
    this.fileData.map((item) => {
      if (item.entity === 'continent') {
        const continent: ContinentI = {
          entity: item.entity,
          id: item.id,
          name: item.name,
          area: item.area,
          population: item.population,
          populationDensity: item.populationDensity,
          minHeight: item.minHeight ?? 0,
          maxHeight: item.maxHeight ?? 0,
          image: item.image ?? '',
        };
        continents.push(continent);
      } else if (item.entity === 'country') {
        const country: CountryI = {
          entity: item.entity,
          id: item.id,
          name: item.name,
          continent: item.continent ?? '',
          capital: item.capital ?? '',
          area: item.area,
          population: item.population,
          populationDensity: item.populationDensity,
          image: item.image ?? '',
        };
        countries.push(country);
      } else if (item.entity === 'city') {
        const city: CityI = {
          entity: item.entity,
          id: item.id,
          name: item.name,
          countryId: item.countryId ?? '',
          area: item.area,
          population: item.population,
          populationDensity: item.populationDensity,
          isCapital: item.isCapital ?? false,
          image: item.image ?? '',
          latitude: item.latitude,
          longitude: item.longitude,
        };
        cities.push(city);
      }
    });

    this.uploadContinents({ data: continents, overwrite: this.overwrite });
    this.uploadCountries({ data: countries, overwrite: this.overwrite });
    this.uploadCities({ data: cities, overwrite: this.overwrite });

    this.handleDeleteSelection();
  }
}
</script>

<style lang="scss" scoped>
.import-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2 * $spacing-unit 0;

  &__input {
    @include centered;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
    height: 30px;
    width: 105px;
    padding: 0 $spacing-unit * 2;
    font-family: $font-family;
    color: $color-secondary;
    font-size: $font-size-regular;
    line-height: 100%;
    background-color: transparent;
    border: 1px solid $color-primary-light;
    border-radius: 15px;
    cursor: pointer;
    transition: $transition-basic;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__checkbox {
    flex: 100%;
    margin: 2 * $spacing-unit 0;
  }

  &__selected-file {
    width: calc(100% - 115px);
    font-family: $font-family;
    line-height: 30px;
  }
}
</style>
