<template>
  <div class="admin-container">
    <the-header>Admin panel</the-header>
    <div class="admin-content">
      <p>Accepted import file: CSV.</p>
      <div>
        <import-data />
        <Export />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TheHeader from '../UI/TheHeader.vue';
import BaseButton from '../UI/shared/BaseButton.vue';
import ImportData from '../../containers/admin/ImportData.vue';
import Export from '../../containers/admin/Export.vue';

@Component({
  components: {
    TheHeader,
    BaseButton,
    ImportData,
    Export,
  },
})
export default class AdminPanel extends Vue {}
</script>

<style lang="scss" scoped>
.admin-container {
  padding-left: 5 * $spacing-unit;
  padding-right: 5 * $spacing-unit;
  padding-bottom: 5 * $spacing-unit;
}

.admin-content {
  font-family: $font-family;
  font-size: $font-size-regular;
  color: $color-secondary;
}
</style>
