// SPACING UNIT
$spacing-unit: 10px;

// COLOR SCHEME
$color-primary: rgb(29, 161, 242);
$color-primary-light: rgb(216, 238, 253);
$color-secondary: rgb(20, 23, 26);
$color-secondary-shadow: rgba(0, 0, 0, 0.75);
$color-neutral-1: rgb(101, 119, 134);
$color-neutral-2: rgb(170, 184, 194);
$color-neutral-3: rgb(225, 232, 237);
$color-neutral-4: rgb(245, 248, 250);
$color-map: #ccc;

//FONT SIZE
$font-size-small: 11px;
$font-size-regular: 14px;
$font-size-large: 20px;

//FONT-FAMILY
$font-family: 'Roboto', sans-serif;

//TRANSITIONS
$transition-basic: all 0.2s ease-out;
