<template>
  <ul class="listItemContainer">
    <menu-item itemName="Continents" path="/continents" />
    <menu-item itemName="Create continent" path="/continents/create" />
    <menu-item itemName="Countries" path="/countries" />
    <menu-item itemName="Create Country" path="/countries/create" />
    <menu-item itemName="Cities" path="/cities" />
    <menu-item itemName="Create City" path="/cities/create" />
    <menu-item itemName="Map" path="/map" />
    <menu-item itemName="Admin panel" path="/admin" />
  </ul>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MenuItem from './MenuItem.vue';

@Component({
  components: {
    MenuItem,
  },
})
export default class MenuListItem extends Vue {}
</script>

<style lang="scss" scoped>
.listItemContainer {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
</style>
