<template>
  <li class="menuItem">
    <router-link :to="path" class="link">{{ itemName }}</router-link>
  </li>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class MenuItem extends Vue {
  @Prop()
  itemName!: string;
  @Prop()
  path!: string;
}
</script>

<style lang="scss" scoped>
.menuItem {
  border: 1px solid black;
  flex: 1;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
    color: white;
  }
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  height: 100%;

  &:visited,
  &:active {
    text-decoration: none;
  }
  &:hover {
    color: white;
  }
}
</style>
