<template>
  <nav class="navbar">
    <menu-list-item />
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MenuListItem from './MenuListItem.vue';

@Component({
  components: {
    MenuListItem,
  },
})
export default class MenuContainer extends Vue {}
</script>
