<template>
  <form class="city-form" autocomplete="off">
    <form-label labelFor="name">Name: </form-label>
    <form-input
      name="name"
      type="text"
      maxlength="200"
      v-model.trim="formData.name"
    />
    <form-label labelFor="area">Select country: </form-label>
    <form-dropdown
      :options="countries"
      v-model="formData.countryId"
      @input="handleCountryChange"
    />
    <form-label labelFor="capital">Is capital city: </form-label>
    <form-checkbox
      name="capital"
      :disabled="isCapitalCkeckboxDisabled"
      v-model="formData.isCapital"
      @click="handleIsCapitalCheckboxChange"
    />
    <form-label labelFor="area">Area: </form-label>
    <form-input
      name="area"
      type="number"
      maxlength="20"
      v-model.number="formData.area"
    />
    <form-label labelFor="area">Population: </form-label>
    <form-input
      name="population"
      type="number"
      maxlength="20"
      v-model.number="formData.population"
    />
    <form-label labelFor="area">Population density: </form-label>
    <form-input
      name="populationDensity"
      type="number"
      maxlength="20"
      v-model.number="formData.populationDensity"
    />
    <form-label labelFor="file-input">Upload image</form-label>
    <form-input-file v-model="formData.image" />
    <div class="city-form__buttons">
      <base-button type="submit" mode="primary" @on-click="handleSubmit"
        >Save</base-button
      >
      <base-button type="button" mode="default" @on-click="handleCancel"
        >Cancel</base-button
      >
    </div>
  </form>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import BaseButton from '../../../components/UI/shared/BaseButton.vue';
import FormInput from '../../../components/UI/form/FormInput.vue';
import FormInputFile from '../../../components/UI/form/FormInputFile.vue';
import FormLabel from '../../../components/UI/form/FormLabel.vue';
import FormCheckbox from '../../../components/UI/form/FormCheckbox.vue';
import FormDropdown from '../../../components/UI/form/FormDropdown.vue';
import { CountryI, CityI, CityFormData } from '../../../typings';
import { RouteRecord } from 'vue-router';

Component.registerHooks(['beforeRouteLeave']);
@Component({
  components: {
    BaseButton,
    FormInput,
    FormInputFile,
    FormLabel,
    FormCheckbox,
    FormDropdown,
  },
})
export default class CityForm extends Vue {
  @Prop({ type: String })
  readonly cityId!: string;

  @Getter('countries/countriesList') countries!: CountryI[];
  @Getter('countries/countryById') countryById!: (id: string) => CountryI;
  @Getter('cities/cityById') cityById!: (id: string) => CityI;
  @Action('countries/checkIfCountriesAreFetched')
  checkIfCountriesAreFetched!: () => void;
  @Action('cities/checkIfCitiesAreFetched')
  checkIfCitiesAreFetched!: () => void;
  @Action('cities/postCity') postCity!: (payload: {
    city: CityI;
    isOverridingCapital: boolean;
  }) => void;
  @Action('cities/updateCity') updateCity!: (payload: {
    city: CityI;
    isOverridingCapital: boolean;
  }) => void;
  @Action('countries/updateCountry') updateCountry!: (data: CountryI) => void;

  initialFormData: string = '';
  cityIsEdited: boolean = false;
  isSaved: boolean = false;
  isOverridingCapital: boolean = false;

  formData: CityFormData = {
    id: new Date().toISOString(),
    name: '',
    countryId: '',
    isCapital: false,
    area: null,
    population: null,
    populationDensity: null,
    image: '',
  };

  get isCapitalCkeckboxDisabled(): boolean {
    if (this.formData.countryId) {
      return false;
    } else {
      this.formData.isCapital = false;
      return true;
    }
  }

  created(): void {
    this.checkIfCountriesAreFetched();
    this.checkIfCitiesAreFetched();
    if (this.cityId) {
      this.cityIsEdited = true;
      const cityStoreData = this.cityById(this.cityId);
      this.formData = { ...cityStoreData };
    }
    this.initialFormData = JSON.stringify(this.formData);
  }

  @Watch('cityId')
  onRouteParamChange(val: string, oldVal: string): void {
    if (val !== oldVal) {
      const cityStoreData = this.cityById(this.cityId);
      this.formData = { ...cityStoreData };
    }
  }

  handleIsCapitalCheckboxChange(event: Event): void {
    const country = { ...this.countryById(this.formData.countryId) };
    const target = event.target as HTMLInputElement;
    const isCapital = target.checked;
    if (
      isCapital &&
      isCapital !== JSON.parse(this.initialFormData).isCapital &&
      country &&
      country.capital
    ) {
      const answer = window.confirm(
        'The country you chose already has a capital city assigned. Do you wish to override it?'
      );
      if (answer) {
        this.isOverridingCapital = true;
      } else {
        event.preventDefault();
      }
    }
  }

  handleCountryChange(): void {
    this.formData.isCapital = false;
    this.isOverridingCapital = false;
  }

  handleChangingCapitalCityInCountry(): void {
    if (this.formData.isCapital) {
      const country = { ...this.countryById(this.formData.countryId) };
      country.capital = this.formData.id;
      this.updateCountry(country);
    } else if (
      !this.formData.isCapital &&
      JSON.parse(this.initialFormData).isCapital
    ) {
      const country = { ...this.countryById(this.formData.countryId) };
      country.capital = '';
      this.updateCountry(country);
    }
  }

  handleSubmit(): void {
    // przekazuję zera do właściwości o typie number, ze względu na to, że nie mogę zezwolić
    // na przekazanie nulla do interfejsu CityI. Docelowo powinna to załatwić walidacja formularza.
    const data: CityI = {
      entity: 'city',
      id: this.formData.id,
      name: this.formData.name,
      countryId: this.formData.countryId,
      isCapital: this.formData.isCapital,
      area: this.formData.area ?? 0,
      population: this.formData.population ?? 0,
      populationDensity: this.formData.populationDensity ?? 0,
      image: this.formData.image,
    };
    const payload = {
      city: data,
      isOverridingCapital: this.isOverridingCapital,
    };
    if (this.cityIsEdited) {
      this.updateCity(payload);
      this.handleChangingCapitalCityInCountry();
    } else {
      this.postCity(payload);
      this.handleChangingCapitalCityInCountry();
    }
    this.isSaved = true;
    this.$router.replace('/cities');
  }

  handleCancel(): void {
    this.$router.replace('/cities');
  }

  beforeRouteLeave(
    _: RouteRecord,
    _1: RouteRecord,
    next: (arg?: boolean) => void
  ): void {
    const finalFormData = JSON.stringify(this.formData);
    if (this.isSaved) {
      next();
    } else if (this.initialFormData !== finalFormData) {
      const answer = window.confirm('Do you really want to leave?');
      if (answer) {
        next();
      } else {
        next(false);
      }
    } else {
      next();
    }
  }
}
</script>

<style lang="scss" scoped>
.city-form {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;

  &__buttons {
    padding: $spacing-unit * 2 0;
  }
}
</style>
