<template>
  <form class="continent-form" autocomplete="off">
    <form-label labelFor="name">Name:</form-label>
    <form-input
      name="name"
      type="text"
      maxlength="200"
      v-model.trim="formData.name"
    />
    <form-label labelFor="area">Area:</form-label>
    <form-input name="area" type="number" v-model.number="formData.area" />
    <form-label labelFor="population">Population:</form-label>
    <form-input
      name="population"
      type="number"
      v-model.number="formData.population"
    />
    <form-label labelFor="populationDensity">Population density:</form-label>
    <form-input
      name="populationDensity"
      type="number"
      v-model.number="formData.populationDensity"
    />
    <form-label labelFor="minHeight">Min height above sea level:</form-label>
    <form-input
      name="minHeight"
      type="number"
      v-model.number="formData.minHeight"
    />
    <form-label labelFor="maxHeight">Max height above sea level:</form-label>
    <form-input
      name="maxHeight"
      type="number"
      v-model.number="formData.maxHeight"
    />
    <form-label labelFor="file-input">Upload image</form-label>
    <form-input-file v-model="formData.image" />
    <div class="continent-form__buttons">
      <base-button type="submit" mode="primary" @on-click="handleSubmit"
        >Save</base-button
      >
      <base-button type="button" mode="default" @on-click="handleCancel"
        >Cancel</base-button
      >
    </div>
  </form>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import BaseButton from '../../../components/UI/shared/BaseButton.vue';
import FormInput from '../../../components/UI/form/FormInput.vue';
import FormInputFile from '../../../components/UI/form/FormInputFile.vue';
import FormLabel from '../../../components/UI/form/FormLabel.vue';
import { ContinentI, ContinentFormData } from '../../../typings';
import { RouteRecord } from 'vue-router';

Component.registerHooks(['beforeRouteLeave']);
@Component({
  components: {
    BaseButton,
    FormInput,
    FormInputFile,
    FormLabel,
  },
})
export default class ContinentForm extends Vue {
  @Prop({ type: String })
  readonly continentId!: string;

  @Getter('continents/continentById') continentById!: (
    id: string
  ) => ContinentI;
  @Action('continents/postContinent') postContinent!: (
    continent: ContinentI
  ) => void;
  @Action('continents/updateContinent') updateContinent!: (
    continent: ContinentI
  ) => void;
  @Action('continents/fetchContinents') fetchContinents!: () => void;

  initialFormData: string = '';
  continentIsEdited: boolean = false;
  isSaved: boolean = false;

  formData: ContinentFormData = {
    id: new Date().toISOString(),
    name: '',
    area: null,
    population: null,
    populationDensity: null,
    minHeight: null,
    maxHeight: null,
    image: '',
  };

  mounted(): void {
    this.fetchContinents();
    if (this.continentId) {
      this.continentIsEdited = true;
      const continentStoreData = this.continentById(this.continentId);
      this.formData = { ...continentStoreData };
    }
    this.initialFormData = JSON.stringify(this.formData);
  }

  @Watch('continentId')
  onRouteParamChange(val: string, oldVal: string): void {
    if (val !== oldVal) {
      const continentStoreData = this.continentById(this.continentId);
      this.formData = { ...continentStoreData };
    }
  }

  handleSubmit(): void {
    // przekazuję zera do właściwości o typie number, ze względu na to, że nie mogę zezwolić na przekazanie nulla do interfejsu Continent. Docelowo powinna to załatwić walidacja formularza.
    const data: ContinentI = {
      entity: 'continent',
      id: this.formData.id,
      name: this.formData.name,
      area: this.formData.area ?? 0,
      population: this.formData.population ?? 0,
      populationDensity: this.formData.populationDensity ?? 0,
      minHeight: this.formData.minHeight ?? 0,
      maxHeight: this.formData.maxHeight ?? 0,
      image: this.formData.image,
    };

    if (this.continentIsEdited) {
      this.updateContinent(data);
    } else {
      this.postContinent(data);
    }
    this.isSaved = true;
    this.$router.replace('/continents');
  }

  handleCancel(): void {
    this.$router.replace('/continents');
  }

  beforeRouteLeave(
    _: RouteRecord,
    _1: RouteRecord,
    next: (arg?: boolean) => void
  ): void {
    const finalFormData = JSON.stringify(this.formData);
    if (this.isSaved) {
      next();
    } else if (this.initialFormData !== finalFormData) {
      const answer = window.confirm('Do you really want to leave?');
      if (answer) {
        next();
      } else {
        next(false);
      }
    } else {
      next();
    }
  }
}
</script>

<style lang="scss" scoped>
.continent-form {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;

  &__buttons {
    padding: $spacing-unit * 2 0;
  }
}
</style>
