<template>
  <div>
    <form class="country-form">
      <FormLabel labelFor="name"> Name of country: </FormLabel>
      <FormInput
        type="string"
        name="name"
        v-model="formData.name"
        maxLength="30"
      />
      <FormLabel labelFor="continent"> Continent of country </FormLabel>
      <FormDropdown :options="continents" v-model="formData.continent" />
      <FormLabel labelFor="area"> Area of country </FormLabel>
      <FormInput
        type="number"
        name="area"
        v-model="formData.area"
        maxLength="20"
      />
      <FormLabel labelFor="population"> Population of country </FormLabel>
      <FormInput
        type="number"
        name="population"
        v-model="formData.population"
        maxLength="20"
      />
      <FormLabel labelFor="populationDensity">
        Population density of country
      </FormLabel>
      <FormInput
        type="number"
        name="populationDensity"
        v-model="formData.populationDensity"
        maxLength="10"
      />
      <FormLabel labelFor="image"> Choose a picture of country: </FormLabel>
      <FormImgLoader
        type="file"
        name="image"
        v-model="formData.image"
        class="country-form__img-loader"
      />
      <BaseButton type="submit" mode="primary" @on-click="handleSubmit">{{
        countryIsEdited ? 'Edit Country' : 'Create Country'
      }}</BaseButton>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import FormInput from '../../../components/UI/form/FormInput.vue';
import FormDropdown from '../../../components/UI/form/FormDropdown.vue';
import BaseButton from '../../../components/UI/shared/BaseButton.vue';
import FormImgLoader from '../../../components/UI/form/FormInputFile.vue';
import FormLabel from '../../../components/UI/form/FormLabel.vue';
import { Getter, Action } from 'vuex-class';
import { ContinentI, CountryFormData, CountryI } from '../../../typings';
@Component({
  components: {
    FormLabel,
    FormInput,
    BaseButton,
    FormDropdown,
    FormImgLoader,
  },
})
export default class CountryForm extends Vue {
  @Prop({ type: String })
  readonly countryId!: string;
  @Getter('countries/countryById') countryById!: (id: string) => CountryI;
  @Getter('continents/continentsList') continents!: ContinentI[];
  @Action('countries/updateCountry') updateCountry!: (
    country: CountryI
  ) => void;
  @Action('countries/postCountry') postCountry!: (country: CountryI) => void;
  @Action('countries/fetchCountries') fetchCountries!: () => void;

  countryIsEdited: boolean = false;
  initialFormData: string = '';

  formData: CountryFormData = {
    id: new Date().toISOString(),
    name: '',
    continent: '',
    area: null,
    population: null,
    populationDensity: null,
    image: '',
  };

  mounted(): void {
    this.fetchCountries();
    if (this.countryId) {
      this.countryIsEdited = true;
      const countryStoreData = this.countryById(this.countryId);
      this.formData = { ...countryStoreData };
    }
    this.initialFormData = JSON.stringify(this.formData);
  }

  @Watch('countryId')
  onRouteParamChange(val: string, oldVal: string): void {
    if (val !== oldVal) {
      const countryStoreData = this.countryById(this.countryId);
      this.formData = { ...countryStoreData };
    }
  }

  handleSubmit(): void {
    const data: CountryI = {
      entity: 'country',
      id: this.formData.id,
      name: this.formData.name,
      continent: this.formData.continent,
      area: this.formData.area ?? 0,
      population: this.formData.population ?? 0,
      populationDensity: this.formData.populationDensity ?? 0,
      image: this.formData.image,
    };

    if (this.countryIsEdited) {
      this.updateCountry(data);
    } else {
      this.postCountry(data);
    }
    this.$router.replace('/countries');
  }
}
</script>

<style lang="scss" scoped>
.country-form {
  background-color: $color-primary-light;
  font-family: $font-family;
  font-size: $font-size-regular;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  width: 25%;
  top: 50%;
  left: 50%;
  padding-top: $spacing-unit * 1.5;
  transform: translate(-50%, -50%);
  height: 85%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(37, 37, 37, 0.466);
}
.country-form__img-loader {
  max-height: 175px;
  align-items: center;
}
</style>
