<template>
  <div class="container">
    <slot />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({})
export default class BaseTile extends Vue {}
</script>

<style lang="scss" scoped>
.container {
  border: 1px solid $color-secondary;
  margin: 0 auto;
  width: 80%;
}
</style>
