<template>
  <header>
    <h1 class="header">
      <slot />
    </h1>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class TileTextHeader extends Vue {}
</script>

<style lang="scss" scoped>
.header {
  font-size: $font-size-large;
  font-family: $font-family;
  text-align: center;
  margin: 2 * $spacing-unit 0;
}
</style>
