<template>
  <div class="img__container">
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class TileImgHeader extends Vue {}
</script>

<style lang="scss" scoped>
.img__container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
</style>
