<template>
  <footer class="footer__container">
    <slot />
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class TileFooter extends Vue {}
</script>

<style lang="scss" scoped>
.footer__container {
  height: 8 * $spacing-unit;
  border-top: 1px solid $color-secondary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2 * $spacing-unit 0;
}
</style>
