<template>
  <div class="content__container">
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class TileContent extends Vue {}
</script>

<style lang="scss" scoped>
.content__container {
  display: flex;
  padding: 2 * $spacing-unit;
  margin: 0 4 * $spacing-unit;
}
</style>
