<template>
  <select
    class="form__select"
    :value="value"
    @input="$emit('input', $event.target.value)"
  >
    <option value="" />
    <option v-for="option in options" :key="option.id" :value="option.id">
      {{ option.name }}
    </option>
  </select>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
@Component({})
export default class FormDropdown extends Vue {
  @Prop({ required: true, type: Array }) options!: [];
  @Prop({ required: true, type: String }) value!: string;
}
</script>

<style lang="scss" scoped>
.form__select {
  width: 35%;
  height: 30px;
  border-radius: 5px;
}
</style>
