<template>
  <input
    :type="type"
    class="form-input"
    :name="name"
    :maxlength="maxlength"
    @input="$emit('input', $event.target.value)"
    :value="value"
  />
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class FormInput extends Vue {
  @Prop({ type: String }) readonly name!: string;
  @Prop({ required: true, type: String }) readonly type!: string;
  @Prop({ type: String }) readonly maxlength!: string;
  @Prop({ type: [String, Number] }) value!: string | number;
}
</script>

<style lang="scss" scoped>
.form-input {
  height: 30px;
  padding: 0 $spacing-unit;
  font-family: $font-family;
  font-size: $font-size-regular;
  color: $color-secondary;
  border: 1px solid $color-neutral-2;
  border-radius: 15px;
  transition: $transition-basic;

  &:focus {
    outline: none;
    background-color: $color-neutral-3;
    border: 1px solid transparent;
  }
}
</style>
