<template>
  <input
    type="checkbox"
    :name="name"
    :checked="value"
    :disabled="disabled"
    @change="$emit('input', $event.target.checked)"
    @click="$emit('click', $event)"
  />
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class FormCheckbox extends Vue {
  @Prop({ type: Boolean }) readonly value!: boolean;
  @Prop({ type: String }) readonly name!: string;
  @Prop({ type: Boolean }) readonly disabled!: boolean;
}
</script>
