<template>
  <label class="form-label" :for="labelFor">
    <slot />
  </label>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class FormLabel extends Vue {
  @Prop({ required: true, type: String }) readonly labelFor!: string;
}
</script>

<style lang="scss" scoped>
.form-label {
  margin: $spacing-unit 0 $spacing-unit / 2 0;
  font-family: $font-family;
  font-size: $font-size-regular;
  color: $color-neutral-1;
}
</style>
