<template>
  <div class="upload-container">
    <input
      type="file"
      accept="image/*"
      name="file-input"
      @input="handleInput"
      class="upload-container__input"
      ref="img"
    />
    <img
      v-if="value"
      :src="value"
      @click="handleDelete"
      alt="Uploaded file"
      title="Delete"
      class="upload-container__img"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class FormInputFile extends Vue {
  @Prop({ type: String }) readonly value!: string;

  convertToBase64(file: File): Promise<string> {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result as string);
      reader.onerror = (error) => reject(error);
    });
  }

  handleInput(e: Event): void {
    const target = e.target as HTMLInputElement;
    if (target === null || target.files === null || target.files.length === 0) {
      console.log('File not selected');
      return;
    }
    const file = target.files[0];
    this.convertToBase64(file).then((data) => {
      this.$emit('input', data);
    });
  }

  handleDelete(): void {
    this.$emit('input', '');
    const imgRef = this.$refs.img as HTMLInputElement;
    imgRef.value = '';
  }
}
</script>

<style lang="scss" scoped>
.upload-container {
  margin: $spacing-unit / 2 0;
  display: flex;
  flex-direction: column;

  &__input {
    padding-bottom: $spacing-unit;
  }

  &__img {
    padding-bottom: $spacing-unit;
    min-height: 50px;
    max-height: 200px;
    min-width: 50px;
    max-width: 200px;
    object-fit: cover;
    transition: $transition-basic;
    cursor: pointer;

    &:hover {
      filter: grayscale(100%);
    }
  }
}
</style>
