<template>
  <div id="map" class="map__container">
    <here-map
      :editable="editable"
      :markers="markers"
      :active-filter="activeFilter"
      :range="range"
      @onPositionChange="onPositionChange"
      @rangeChange="onRangeChange"
    />
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/no-empty-function */
import { Component, Prop, Emit, Vue } from 'vue-property-decorator';
import HereMap from './HereMap.vue';
import { Coordinates } from '../../../typings';

@Component({ components: { HereMap } })
export default class HereMapContainer extends Vue {
  @Prop({ type: Boolean, default: true }) editable!: boolean;
  @Prop({ type: Array }) markers!: Coordinates[];
  @Prop({ type: String }) activeFilter!: string;
  @Prop({ type: Number }) range!: number;

  @Emit('rangeChange')
  onRangeChange(): void {}

  @Emit('onPositionChange')
  onPositionChange(): void {}
}
</script>

<style lang="scss" scoped>
.map__container {
  width: 60vw;
  min-width: 360px;
  text-align: center;
  margin: 5% auto;
  background-color: $color-map;
}
</style>
