<template>
  <div class="map" id="mapContainer" ref="hereMap" />
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
/* eslint-disable @typescript-eslint/no-explicit-any */
import { Component, Emit, Prop, Vue, Watch } from 'vue-property-decorator';
import { Coordinates } from '../../../typings';
import {
  defaultCircleRange,
  equatorLengthKm,
  MapObjects,
} from '../../../const';

declare global {
  interface Window {
    H: any;
  }
}

@Component({})
export default class HereMap extends Vue {
  @Prop({ type: Boolean, default: false }) editable!: boolean;
  @Prop({ type: Array }) markers!: Coordinates[];
  @Prop({ type: String }) activeFilter!: string;
  @Prop({ type: Number }) range!: number;

  markersToDisplay = JSON.parse(JSON.stringify(this.markers));
  map: any = '';
  circle: any;
  circleOutline: any;
  circleRange = defaultCircleRange;
  platform: any = null;
  apikey: string = '28i3GPn_5O3YzMZy5AjBgrk0BICtz_1x0oDqXFlkBq8';

  @Emit('onPositionChange')
  onPositionChange(newLocation: Coordinates): Coordinates[] {
    const index = this.markersToDisplay.findIndex(
      (copy: Coordinates) => copy.data.cityId === newLocation.data.cityId
    );
    this.markersToDisplay.splice(index, 1, newLocation);
    return this.markersToDisplay;
  }

  @Emit('rangeChange')
  onRangeChange(newRange: number): number {
    this.circleRange = newRange;
    const circleRangeInKm = this.circleRange / 1000;
    return circleRangeInKm < equatorLengthKm
      ? circleRangeInKm
      : equatorLengthKm;
  }

  @Watch('markers')
  onPropMarkersChange(newMarkers: Coordinates[]): void {
    if (this.activeFilter === 'distance') {
      this.markersToDisplay = [JSON.parse(JSON.stringify(newMarkers[0]))];
    } else {
      this.markersToDisplay = JSON.parse(JSON.stringify(newMarkers));
    }
    this.removeObjectsFromTheMap(MapObjects.ALL);
    this.addMarkersToMap();

    if (this.activeFilter === 'distance') {
      this.circleRange = defaultCircleRange;
      this.createResizableCircle();
      this.onRangeChange(this.circleRange);
    }
  }

  @Watch('range')
  onCircleRangeChange(newRange: number): void {
    this.circleRange = newRange * 1000;
    this.updateMapCircle();
    this.updateMarkers();
  }

  @Watch('activeFilter')
  onFilterChange(newFilter: string): void {
    if (newFilter === 'distance') {
      this.createResizableCircle();
    }
  }

  updateMarkers(): void {
    const H = window.H;
    const markersCopy = JSON.parse(JSON.stringify(this.markers));
    const centeredMarker = new H.geo.Point(
      this.markersToDisplay[0].coordinates.lat,
      this.markersToDisplay[0].coordinates.lng
    );

    const markersWithoutCentered = markersCopy.slice(1);
    const markersInRange: Coordinates[] = [];
    markersInRange.push(this.markersToDisplay[0]);
    markersWithoutCentered.forEach((marker: Coordinates) => {
      const currentMarker = new H.geo.Point(
        marker.coordinates.lat,
        marker.coordinates.lng
      );
      const distance = centeredMarker.distance(currentMarker);
      if (distance <= this.circleRange) {
        markersInRange.push(marker);
      }
    });

    this.markersToDisplay = markersInRange;
    this.removeObjectsFromTheMap(MapObjects.MARKER);
    this.addMarkersToMap();
    //this.createResizableCircle();
  }

  updateMapCircle(): void {
    this.circle.setRadius(this.circleRange);
    let outlineLinestring = this.circle.getGeometry().getExterior();
    outlineLinestring.pushPoint(outlineLinestring.extractPoint(0));
    this.circleOutline.setGeometry(outlineLinestring);
  }

  async mounted(): Promise<void> {
    const platform = new window.H.service.Platform({
      apikey: this.apikey,
    });
    this.platform = platform;
    this.initializeHereMap();
  }

  initializeHereMap(): void {
    // rendering map
    const mapContainer = this.$refs.hereMap;
    const H = window.H;
    // Obtain the default map types from the platform object
    const maptypes = this.platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    this.map = new H.Map(mapContainer, maptypes.vector.normal.map, {
      zoom: 1,
      center: {
        lat: 40,
        lng: 0,
      },
    });

    addEventListener('resize', () => this.map.getViewPort().resize());

    // add behavior control
    const behavior = new H.mapevents.Behavior(
      new H.mapevents.MapEvents(this.map)
    );

    // add UI
    H.ui.UI.createDefault(this.map, maptypes);
    // End rendering the initial map

    this.editable ? this.addDraggableMarker(behavior) : this.addMarkersToMap();
  }

  addDraggableMarker(behavior: any) {
    const H = window.H;

    // mark the object as volatile for the smooth dragging
    // Ensure that the marker can receive drag events

    this.markersToDisplay.map((marker: Coordinates) => {
      const markerObj = new H.map.Marker(marker.coordinates, {
        volatility: true,
        data: marker.data,
      });
      markerObj.draggable = true;
      this.map.addObject(markerObj);
    });

    // disable the default draggability of the underlying map
    // and calculate the offset between mouse and target's position
    // when starting to drag a marker object:
    this.map.addEventListener(
      'dragstart',
      (ev: any) => {
        const target = ev.target,
          pointer = ev.currentPointer;
        if (target instanceof H.map.Marker) {
          const targetPosition = this.map.geoToScreen(target.getGeometry());
          target['offset'] = new H.math.Point(
            pointer.viewportX - targetPosition.x,
            pointer.viewportY - targetPosition.y
          );
          behavior.disable();
        }
      },
      false
    );

    // re-enable the default draggability of the underlying map
    // when dragging has completed
    this.map.addEventListener(
      'dragend',
      (ev: any) => {
        const target = ev.target;
        if (target instanceof H.map.Marker) {
          behavior.enable();
          const newPosition = {
            coordinates: {
              lat: target.b.lat,
              lng: target.b.lng,
            },
            data: target.data,
          };
          this.onPositionChange(newPosition);
        }
      },
      false
    );

    // Listen to the drag event and move the position of the marker
    // as necessary
    this.map.addEventListener(
      'drag',
      (ev: any) => {
        const target = ev.target,
          pointer = ev.currentPointer;
        if (target instanceof H.map.Marker) {
          target.setGeometry(
            this.map.screenToGeo(
              pointer.viewportX - target['offset'].x,
              pointer.viewportY - target['offset'].y
            )
          );
        }
      },
      false
    );
  }

  addMarkersToMap(): void {
    const H = window.H;
    this.markersToDisplay.map((marker: Coordinates) =>
      this.map.addObject(new H.map.Marker(marker.coordinates, marker.data))
    );
  }

  removeObjectsFromTheMap(type: MapObjects): void {
    const H = window.H;
    let markersOnTheMap: any;
    if (type === 'marker') {
      markersOnTheMap = this.map
        .getObjects()
        .filter((item: any) => item.type === H.map.Object.Type.MARKER);
    } else if (type === 'all') {
      markersOnTheMap = this.map.getObjects();
    } else {
      return;
    }
    this.map.removeObjects(markersOnTheMap);
  }

  createResizableCircle(): void {
    const H = window.H;
    this.circle = new H.map.Circle(
      this.markersToDisplay[0].coordinates,
      this.circleRange,
      {
        style: { fillColor: 'rgba(250, 250, 0, 0.7)', lineWidth: 0 },
      }
    );
    this.circleOutline = new H.map.Polyline(
      this.circle.getGeometry().getExterior(),
      {
        style: { lineWidth: 8, strokeColor: 'rgba(255, 0, 0, 0)' },
      }
    );
    let circleGroup = new H.map.Group({
      volatility: true, // mark the group as volatile for smooth dragging of all it's objects
      objects: [this.circle, this.circleOutline],
    });
    let circleTimeout: any;

    // ensure that the objects can receive drag events
    this.circle.draggable = true;
    this.circleOutline.draggable = true;

    // extract first point of the circle outline polyline's LineString and
    // push it to the end, so the outline has a closed geometry
    this.circleOutline
      .getGeometry()
      .pushPoint(this.circleOutline.getGeometry().extractPoint(0));

    // add group with circle and it's outline (polyline)
    this.map.addObject(circleGroup);

    // event listener for circle group to show outline (polyline) if moved in with mouse (or touched on touch devices)
    circleGroup.addEventListener(
      'pointerenter',
      () => {
        let currentStyle = this.circleOutline.getStyle(),
          newStyle = currentStyle.getCopy({
            strokeColor: 'rgb(255, 0, 0)',
          });

        if (circleTimeout) {
          clearTimeout(circleTimeout);
          circleTimeout = null;
        }
        // show outline
        this.circleOutline.setStyle(newStyle);
      },
      true
    );

    // event listener for circle group to hide outline if moved out with mouse (or released finger on touch devices)
    // the outline is hidden on touch devices after specific timeout
    circleGroup.addEventListener(
      'pointerleave',
      (evt: any) => {
        let currentStyle = this.circleOutline.getStyle(),
          newStyle = currentStyle.getCopy({
            strokeColor: 'rgba(255, 0, 0, 0)',
          }),
          timeout = evt.currentPointer.type == 'touch' ? 1000 : 0;

        circleTimeout = setTimeout(() => {
          this.circleOutline.setStyle(newStyle);
        }, timeout);
        document.body.style.cursor = 'default';
      },
      true
    );

    // event listener for circle group to change the cursor if mouse position is over the outline polyline (resizing is allowed)
    circleGroup.addEventListener(
      'pointermove',
      (evt: any) => {
        if (evt.target instanceof H.map.Polyline) {
          document.body.style.cursor = 'pointer';
        } else {
          document.body.style.cursor = 'default';
        }
      },
      true
    );

    // event listener for circle group to resize the geo circle object if dragging over outline polyline
    circleGroup.addEventListener(
      'drag',
      (evt: any) => {
        let pointer = evt.currentPointer,
          distanceFromCenterInMeters = this.circle
            .getCenter()
            .distance(
              this.map.screenToGeo(pointer.viewportX, pointer.viewportY)
            );

        // if resizing is alloved, set the circle's radius
        if (evt.target instanceof H.map.Polyline) {
          this.circle.setRadius(distanceFromCenterInMeters);

          // use circle's updated geometry for outline polyline
          let outlineLinestring = this.circle.getGeometry().getExterior();

          // extract first point of the outline LineString and push it to the end, so the outline has a closed geometry
          outlineLinestring.pushPoint(outlineLinestring.extractPoint(0));
          this.circleOutline.setGeometry(outlineLinestring);

          const newRange = this.circle.ea;
          this.onRangeChange(newRange);

          // prevent event from bubling, so map doesn't receive this event and doesn't pan
          evt.stopPropagation();
        }
      },
      true
    );

    circleGroup.addEventListener(
      'dragend',
      () => {
        this.updateMarkers();
      },
      true
    );
  }
}
</script>

<style lang="scss" scoped>
.map {
  height: 600px;
  width: 100%;
}
</style>
