<template>
  <div class="filters">
    <div class="filters__container">
      <the-filter-select :options="continentsList" v-model="selectedContinents"
        >Continents</the-filter-select
      >
      <div class="filters__itemValues">
        <the-filter-item-list
          v-if="this.selectedContinents.length > 0"
          :options="this.selectedContinents"
          >You will look for countries in:
        </the-filter-item-list>
      </div>
    </div>
    <div class="filters__container">
      <the-filter-select :options="countries" v-model="selectedCountries"
        >Countries</the-filter-select
      >
      <div class="filters__itemValues">
        <the-filter-item-list
          v-if="this.selectedCountries.length > 0"
          :options="this.selectedCountries"
          >You will look for cities in:
        </the-filter-item-list>
      </div>
    </div>
    <div>
      <BaseButton type="submit" mode="primary" @on-click="searchCities"
        >Search</BaseButton
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue, Watch } from 'vue-property-decorator';
import { CityI, ContinentI, Coordinates, CountryI } from '../../../typings';
import BaseButton from '../shared/BaseButton.vue';
import TheFilterItemList from './HereMapFilterItemList.vue';
import TheFilterSelect from './HereMapFilterSelect.vue';

@Component({
  components: {
    BaseButton,
    TheFilterItemList,
    TheFilterSelect,
  },
})
export default class HereMapFilters extends Vue {
  @Prop({ required: true, type: Array }) continentsList!: ContinentI[];
  @Prop({ required: true, type: Array }) countriesList!: CountryI[];
  @Prop({ type: Function }) countriesByContinents!: (
    id: string[]
  ) => CountryI[];
  @Prop({ type: Function }) citiesByCountries!: (id: string[]) => CityI[];

  selectedContinents: ContinentI[] = [];
  selectedCountries: CountryI[] = [];

  @Watch('selectedContinents')
  countriesWatcher(newVal: ContinentI[]): CountryI[] | undefined {
    if (this.selectedContinents === newVal) {
      const continentsIds = this.selectedContinents.map(
        (continent) => continent.id
      );
      const countriesFromSelectedContinents = this.countriesByContinents(
        continentsIds
      );
      const intersection = countriesFromSelectedContinents.filter((country) =>
        this.selectedCountries.includes(country)
      );
      this.selectedCountries = intersection;
    }
    return;
  }

  get countries(): CountryI[] | unknown {
    if (this.selectedContinents.length === 0) {
      return this.countriesList;
    } else {
      const continentsIds = this.selectedContinents.map(
        (continent) => continent.id
      );
      return this.countriesByContinents(continentsIds);
    }
  }

  @Emit('searchCities')
  searchCities(): Coordinates[] {
    const countriesIds = this.selectedCountries.map((country) => country.id);
    const cities = this.citiesByCountries(countriesIds);
    const citiesCoordinates = cities.map((city) => {
      return {
        coordinates: {
          lat: city.latitude as number,
          lng: city.longitude as number,
        },
        data: {
          cityId: city.id,
        },
      };
    });
    return citiesCoordinates;
  }
}
</script>

<style lang="scss" scoped>
.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filters__container {
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}
.filters__itemValues {
  text-align: center;
}
</style>
