<template>
  <div>
    <h2 class="filter__header"><slot /></h2>
    <p class="filter__helptext">(Use ctrl or cmd to select multiple)</p>
    <select
      class="filter__select"
      multiple="true"
      v-model="selected"
      @change="$emit('input', selected)"
    >
      <option
        class="filter__option"
        v-for="item in options"
        :value="item"
        :key="item.id"
      >
        {{ item.name }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { ContinentI, CountryI } from '../../../typings';
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class TheFilterSelect extends Vue {
  @Prop({ required: true, type: Array }) options!: ContinentI[] | CountryI[];
  @Prop({ required: true, type: Array }) value!: ContinentI[] | CountryI[];

  selected: ContinentI[] | CountryI[] = this.value;
}
</script>

<style lang="scss" scoped>
.filter__helptext {
  font-size: $font-size-small;
  text-align: center;
}
.filter__select {
  padding: $spacing-unit;
  width: 100%;
  border-radius: 3px;
}
.filter__header {
  text-align: center;
  margin: 0;
}
.filter__option {
  padding: $spacing-unit;
  margin: $spacing-unit;
  border: 1px solid $color-secondary;
  background: linear-gradient($color-secondary);
  color: $color-secondary;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 5px $color-secondary;
  cursor: pointer;
}
.filter__option:active {
  border: 1px solid $color-primary-light;
  background: linear-gradient($color-primary, $color-primary-light);
  color: $color-primary-light;
}
</style>
