<template>
  <div>
    <h3><slot /></h3>
    <p class="itemValue" v-for="item in options" :key="item.id">
      {{ item.name }}
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator';
import { ContinentI, CountryI } from '../../../typings';

@Component
export default class TheItemListing extends Vue {
  @Prop({ required: true, type: Array }) readonly options!:
    | CountryI[]
    | ContinentI[];
}
</script>

<style lang="scss" scoped>
.itemValue {
  margin: 0px;
  font-size: $font-size-small;
}
</style>
