<template>
  <section class="distance-filter">
    <h4>Pick the city</h4>
    <select
      v-model="selectedCity"
      :class="['distance-filter__item', 'select-item']"
      @change="onCityChange"
    >
      <option
        v-for="city in citiesList"
        class="select-item__option"
        :key="city.id"
        :value="city.id"
      >
        {{ city.name }}
      </option>
    </select>
    <h4>Set the range[km]:</h4>
    <input
      v-model="filterRange"
      type="number"
      :class="['distance-filter__item', 'number-item']"
      :max="40075"
      :min="0"
      :step="1145"
      @input="onRangeChange"
    />
    <input
      v-model="filterRange"
      type="range"
      :class="['distance-filter__item', 'range-item']"
      :max="40075"
      :min="0"
      @input="onRangeChange"
    />
    <here-map-filter-item-list v-if="citiesInRange" :options="citiesInRange">
      Cities in selected range
    </here-map-filter-item-list>
  </section>
</template>

<script lang="ts">
import { Component, Emit, Prop, Watch, Vue } from 'vue-property-decorator';
import HereMapFilterItemList from './HereMapFilterItemList.vue';
import { CityI } from '../../../typings';
import { equatorLengthKm } from '../../../const';

@Component({ components: { HereMapFilterItemList } })
export default class HereMapDistanceFilter extends Vue {
  @Prop({ type: Array })
  citiesList!: CityI[];
  @Prop({ type: Array })
  citiesInRange!: CityI[];
  @Prop({ type: Number, default: 0 })
  range!: number;

  @Emit('cityChange')
  onCityChange(): string {
    return this.selectedCity;
  }
  @Emit('rangeChange')
  onRangeChange(event: Event): number {
    const newRange = parseInt((event.target as HTMLInputElement).value);
    if (newRange > equatorLengthKm) {
      this.filterRange = equatorLengthKm;
      return equatorLengthKm;
    } else if (newRange < 0 || newRange === null || isNaN(newRange)) {
      this.filterRange = 0;
      return 0;
    } else {
      return newRange;
    }
  }

  @Watch('range')
  onPropRangeChange(newRange: number): void {
    this.filterRange = newRange;
  }

  filterRange: number = this.range;
  selectedCity: string = this.citiesList[0].id;
}
</script>

<style scoped lang="scss">
.distance-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.distance-filter__item {
  margin: $spacing-unit auto;
}

.select-item,
.select-item__option,
.range-item {
  width: 40%;
}

.select-item,
.select-item__option,
.number-item {
  height: 4 * $spacing-unit;
  font-size: $font-size-large;
}

.number-item {
  width: 20%;
  text-align: center;
}
</style>
