<template>
  <section class="filters-container">
    <h3>Switch between filters</h3>
    <toggle-button @click="setActiveComponent($event)" :options="filters">
      <template #multiselect> Filter by continents/countries </template>
      <template #distance> Filter by distance </template>
    </toggle-button>
    <component
      v-if="isComponentMultiselectFilter"
      :is="multiselectFilter"
      :continentsList="continentsList"
      :countriesList="countriesList"
      :countriesByContinents="countriesByContinents"
      :citiesByCountries="citiesByCountries"
      @searchCities="searchCities"
    />
    <component
      v-else
      :is="distanceFilter"
      :citiesList="citiesList"
      :range="range"
      @cityChange="onCityChange"
      @rangeChange="onRangeChange"
    />
  </section>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
/* eslint-disable @typescript-eslint/no-empty-function */
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
import ToggleButton from '../ToggleButton.vue';
import { CityI, ContinentI, CountryI } from '../../../typings';

const MultiselectFilter = () => import('./HereMapFilter.vue');
const DistanceFilter = () => import('./HereMapDistanceFilter.vue');

@Component({ components: { ToggleButton } })
export default class HereMapFilterSwitcher extends Vue {
  @Prop({ type: Array }) filters!: Array<string>;
  @Prop({ type: Array }) continentsList!: ContinentI[];
  @Prop({ type: Array }) countriesList!: CountryI[];
  @Prop({ type: Array }) citiesList!: CityI[];
  @Prop({ type: Number }) range!: number;
  @Prop({ type: Function }) countriesByContinents!: (
    id: string[]
  ) => CountryI[];
  @Prop({ type: Function }) citiesByCountries!: (id: string[]) => CityI[];

  @Emit('cityChange')
  onCityChange() {}

  @Emit('rangeChange')
  onRangeChange() {}

  @Emit('click')
  setActiveComponent(event: MouseEvent): string {
    this.activeComponent = (event.target as HTMLElement).id;
    return this.activeComponent;
  }

  @Emit('searchCities')
  searchCities() {}

  activeComponent: string = this.filters[0];

  multiselectFilter = MultiselectFilter;
  distanceFilter = DistanceFilter;

  get isComponentMultiselectFilter(): boolean {
    return this.activeComponent === 'multiselect' ? true : false;
  }
}
</script>

<style scoped lang="scss">
.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
