<template>
  <div class="cities">
    <div class="cities__search">
      <the-search @handle-search="handleSearch" />
    </div>
    <p class="cities__text">Cities</p>
    <ul v-if="hasFilteredCities" class="cities__list">
      <li v-for="city in cities(searchText)" :key="city.id">
        <router-link :to="`/cities/${city.id}`" class="city__link">
          {{ city.name }}
        </router-link>
        <DeleteButton @delete-item="handleDeleteCity(city)" />
      </li>
    </ul>
    <p class="cities__empty-list-message" v-else>
      {{ emptyListMessage }}
    </p>
    <div class="continent">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TheSearch from '../../components/UI/TheSearch.vue';
import { Getter, Action } from 'vuex-class';
import DeleteButton from '../../components/UI/shared/DeleteButton.vue';
import { CityI } from '../../typings';

@Component({
  components: {
    DeleteButton,
    TheSearch,
  },
})
export default class Cities extends Vue {
  @Getter('cities/citiesListFiltered') cities!: (searchText: string) => CityI[];
  @Action('cities/fetchCities') fetchCities!: () => void;
  @Action('cities/deleteCity') deleteCity!: (id: string) => void;
  @Action('countries/deleteCountryReference') deleteCountryReference!: (
    id: string
  ) => void;

  created(): void {
    this.fetchCities();
  }
  searchText: string = '';

  handleDeleteCity(city: CityI): void {
    this.deleteCity(city.id);
    this.deleteCountryReference(city.countryId);
  }

  get hasFilteredCities(): boolean {
    return this.cities(this.searchText).length > 0;
  }

  get emptyListMessage(): string {
    return this.searchText === ''
      ? 'This list is empty.'
      : 'No results match your search criteria.';
  }

  handleSearch(text: string): void {
    this.searchText = text;
  }
}
</script>

<style lang="scss" scoped>
.cities {
  width: 100%;
}
.cities__search {
  margin-top: $spacing-unit * 3;
  display: flex;
  justify-content: flex-end;
}
.cities__text {
  text-align: center;
}
.cities__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.city__link {
  text-decoration: none;
  color: $color-primary;
}
.cities__empty-list-message {
  padding: $spacing-unit;
  text-align: center;
  font-family: $font-family;
  font-size: $font-size-regular;
  color: $color-secondary;
}
</style>
