<template>
  <section>
    <the-header>City details</the-header>
    <base-tile>
      <tile-text-header>{{ city.name }}</tile-text-header>

      <tile-content>
        <tile-img-header>
          <base-image :src="getImage" alt="photo" />
        </tile-img-header>
        <div class="city__container">
          <h2>Details:</h2>
          <table class="table">
            <thead>
              <tr>
                <th class="table-cell">Item</th>
                <th class="table-cell">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in getCityDetails" :key="index">
                <td class="table-cell">{{ index }}</td>
                <td class="table-cell">{{ item }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tile-content>

      <tile-footer>
        <base-link :to="`/cities/${cityId}/edit`">Edit</base-link>
        <base-link to="/cities/">Back to the list</base-link>
        <base-button @on-click="showModal">Remove</base-button>
      </tile-footer>
    </base-tile>

    <modal-container
      v-if="isVisible"
      @show-modal="showModal"
      @action-type="handleDeleteCity(city.id)"
    >
      <template #header>Delete</template>
      <template #default>
        Do you really want to delete <b>{{ city.name }}</b> ?
      </template>
    </modal-container>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TheHeader from '../../components/UI/TheHeader.vue';
import BaseImage from '../../components/UI/shared/BaseImage.vue';
import BaseButton from '../../components/UI/shared/BaseButton.vue';
import BaseLink from '../../components/UI/shared/BaseLink.vue';
import BaseTile from '../../components/UI/tile/BaseTile.vue';
import BaseModal from '../../components/UI/shared/BaseModal.vue';
import TileContent from '../../components/UI/tile/TileContent.vue';
import TileFooter from '../../components/UI/tile/TileFooter.vue';
import TileImgHeader from '../../components/UI/tile/TileImgHeader.vue';
import TileTextHeader from '../../components/UI/tile/TileTextHeader.vue';
import ModalContainer from '../../components/UI/shared/ModalContainer.vue';
import { Action, Getter } from 'vuex-class';
import { CityI, CityDetailsI } from '../../typings';

@Component({
  components: {
    TheHeader,
    BaseImage,
    BaseButton,
    BaseLink,
    BaseTile,
    TileContent,
    TileFooter,
    TileImgHeader,
    TileTextHeader,
    BaseModal,
    ModalContainer,
  },
})
export default class City extends Vue {
  /* eslint-disable @typescript-eslint/no-unused-vars */
  @Prop({ type: String })
  cityId!: string;
  @Getter('cities/cityById') getCityData!: (id: string) => CityI;
  @Getter('countries/countryNameById') countryNameById!: (
    id: string
  ) => string | undefined;
  @Action('cities/deleteCity') deleteCity!: (id: string) => void;
  @Action('countries/deleteCountryReference') deleteCountryReference!: (
    id: string
  ) => void;

  city!: CityI;
  isVisible = false;

  created(): void {
    this.city = this.getCityData(this.cityId);
  }

  showModal(): void {
    this.isVisible = !this.isVisible;
  }

  get getCityDetails(): CityDetailsI {
    const {
      ['image']: removeImg,
      ['id']: removeId,
      ['countryId']: countryId,
      ...cityDetails
    } = this.city;
    const countryName = this.countryNameById(this.city.countryId);
    const userCityDetails = { ...cityDetails, countryName };
    return userCityDetails;
  }

  get getImage(): string {
    if (!this.city.image) {
      return 'https://tinyurl.com/sym7bn6x';
    }
    return this.city.image;
  }

  handleDeleteCity(id: string): void {
    this.deleteCity(id);
    this.deleteCountryReference(id);
    this.$router.replace('/cities');
  }
}
</script>

<style lang="scss" scoped>
.city__container {
  @include centered;
  flex-direction: column;
  flex: 70%;
}

.table {
  width: 70%;
  height: 70%;
  text-align: center;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid $color-secondary;
}
</style>
