<template>
  <div class="continents">
    <div class="continents__search">
      <the-search @handle-search="handleSearch" />
    </div>
    <p class="continents__text">Continents</p>
    <ul v-if="hasFilteredContinents" class="continents__list">
      <li v-for="continent in continents(searchText)" :key="continent.id">
        <router-link :to="`/continents/${continent.id}`">
          {{ continent.name }}
        </router-link>
        <delete-button @delete-item="handleDeleteContinent(continent.id)" />
      </li>
    </ul>
    <p class="continents__empty-list-message" v-else>
      {{ emptyListMessage }}
    </p>
    <div class="continent">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ContinentI } from '../../typings';
import { Getter, Action } from 'vuex-class';
import DeleteButton from '../../components/UI/shared/DeleteButton.vue';
import TheSearch from '../../components/UI/TheSearch.vue';

@Component({
  components: {
    DeleteButton,
    TheSearch,
  },
})
export default class Continents extends Vue {
  @Getter('continents/continentsListFiltered') continents!: (
    searchText: string
  ) => Array<ContinentI>;
  @Action('continents/fetchContinents') fetchContinents!: () => void;
  @Action('countries/deleteContinentReference') deleteContinentReference!: (
    id: string
  ) => void;
  @Action('continents/deleteContinent') deleteContinent!: (id: string) => void;

  searchText: string = '';

  get hasFilteredContinents(): boolean {
    return this.continents(this.searchText).length > 0;
  }

  get emptyListMessage(): string {
    return this.searchText === ''
      ? 'This list is empty.'
      : 'No results match your search criteria.';
  }

  handleSearch(text: string): void {
    this.searchText = text;
  }

  created(): void {
    this.fetchContinents();
  }

  handleDeleteContinent(id: string): void {
    this.deleteContinent(id);
    this.deleteContinentReference(id);
  }
}
</script>

<style lang="scss" scoped>
.continents {
  width: 100%;
}

.continents__search {
  margin-top: $spacing-unit * 3;
  display: flex;
  justify-content: flex-end;
}

.continents__list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.continents__text {
  text-align: center;
}

.continents__empty-list-message {
  padding: $spacing-unit;
  text-align: center;
  font-family: $font-family;
  font-size: $font-size-regular;
  color: $color-secondary;
}

.continent {
  justify-content: center;
  display: flex;
}
</style>
