<template>
  <section>
    <the-header>Continent details</the-header>
    <base-tile>
      <tile-text-header>{{ continent.name }}</tile-text-header>
      <TheItemList target="countries" />
      <tile-content>
        <tile-img-header>
          <base-image :src="getImage" alt="photo" />
        </tile-img-header>
        <div class="continent__container">
          <h2>Details:</h2>
          <table class="table">
            <thead>
              <tr>
                <th class="table-cell">Item</th>
                <th class="table-cell">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in getContinentDetails" :key="index">
                <td class="table-cell">{{ index }}</td>
                <td class="table-cell">{{ item }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tile-content>

      <tile-footer>
        <base-link :to="`/continents/${continentId}/edit`">Edit</base-link>
        <base-link to="/continents/">Back to the list</base-link>
        <base-button @on-click="showModal">Remove</base-button>
      </tile-footer>
    </base-tile>

    <modal-container
      v-if="isVisible"
      @show-modal="showModal"
      @action-type="handleDeleteContinent(continent.id)"
    >
      <template #header>Delete</template>
      <template #default>
        Do you really want to delete <b>{{ continent.name }}</b> ?
      </template>
    </modal-container>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TheHeader from '../../components/UI/TheHeader.vue';
import BaseImage from '../../components/UI/shared/BaseImage.vue';
import BaseButton from '../../components/UI/shared/BaseButton.vue';
import BaseLink from '../../components/UI/shared/BaseLink.vue';
import BaseModal from '../../components/UI/shared/BaseModal.vue';
import BaseTile from '../../components/UI/tile/BaseTile.vue';
import TileContent from '../../components/UI/tile/TileContent.vue';
import TileFooter from '../../components/UI/tile/TileFooter.vue';
import TileImgHeader from '../../components/UI/tile/TileImgHeader.vue';
import TileTextHeader from '../../components/UI/tile/TileTextHeader.vue';
import ModalContainer from '../../components/UI/shared/ModalContainer.vue';
import TheItemList from '../../components/UI/TheItemList.vue';
import { Action, Getter } from 'vuex-class';
import { ContinentDetailsI, ContinentI } from '../../typings';
@Component({
  components: {
    TheHeader,
    BaseImage,
    BaseButton,
    BaseLink,
    BaseTile,
    BaseModal,
    TileContent,
    TileFooter,
    TileImgHeader,
    TileTextHeader,
    TheItemList,
    ModalContainer,
  },
})
export default class Continent extends Vue {
  /* eslint-disable @typescript-eslint/no-unused-vars */
  @Prop({ type: String })
  continentId!: string;
  @Getter('continents/continentById') getContinentData!: (
    id: string
  ) => ContinentI;
  @Action('countries/deleteContinentReference') deleteContinentReference!: (
    id: string
  ) => void;
  @Action('continents/deleteContinent') deleteContinent!: (id: string) => void;

  continent!: ContinentI;
  isVisible = false;

  get getContinentDetails(): ContinentDetailsI {
    const {
      ['image']: removeImg,
      ['id']: removeId,
      ...continentDetails
    } = this.continent;
    return continentDetails;
  }

  get getImage(): string {
    if (!this.continent.image) {
      return 'https://tinyurl.com/sym7bn6x';
    }
    return this.continent.image;
  }

  created(): void {
    this.continent = this.getContinentData(this.continentId);
  }

  showModal(): void {
    this.isVisible = !this.isVisible;
  }

  handleDeleteContinent(id: string): void {
    this.deleteContinent(id);
    this.deleteContinentReference(id);
    this.$router.replace('/continents');
  }
}
</script>

<style lang="scss" scoped>
.continent__container {
  @include centered;
  flex-direction: column;
  flex: 70%;
}

.table {
  width: 70%;
  height: 70%;
  text-align: center;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid $color-secondary;
}
</style>
