<template>
  <div class="countries">
    <div class="countries__search">
      <TheSearch @handle-search="handleSearch" />
    </div>
    <p class="countries__text">Countries</p>
    <ul v-if="hasFilteredCountries" class="countries__list">
      <li v-for="country in countries(searchText)" :key="country.id">
        <router-link :to="`/countries/${country.id}`" class="countries__link">
          {{ country.name }}
        </router-link>
        <DeleteButton @delete-item="handleDeleteCountry(country.id)" />
      </li>
    </ul>
    <p v-else>
      {{ emptyListMessage }}
    </p>
    <div class="country">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import TheSearch from '../../components/UI/TheSearch.vue';
import DeleteButton from '../../components/UI/shared/DeleteButton.vue';
import { CountryI } from '../../typings';
import { Getter, Action } from 'vuex-class';
@Component({
  components: {
    TheSearch,
    DeleteButton,
  },
})
export default class Countries extends Vue {
  @Getter('countries/countriesFiltered') countries!: (
    searchText: string
  ) => Array<CountryI>;
  @Action('countries/fetchCountries') fetchCountries!: () => void;
  @Action('countries/deleteCountry') deleteCountry!: (id: string) => void;

  searchText: string = '';

  get hasFilteredCountries(): boolean {
    return this.countries(this.searchText).length > 0;
  }

  get emptyListMessage(): string {
    return this.searchText === ''
      ? 'This list is empty.'
      : 'No results match your search criteria.';
  }

  handleSearch(text: string): void {
    this.searchText = text;
  }

  handleDeleteCountry(id: string): void {
    this.deleteCountry(id);
  }

  created(): void {
    this.fetchCountries();
  }
}
</script>

<style lang="scss" scoped>
.countries {
  width: 100%;
}
.countries__search {
  margin-top: $spacing-unit * 3;
  display: flex;
  justify-content: flex-end;
}

.countries__text {
  text-align: center;
}
.countries__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.countries__link {
  text-decoration: none;
  color: $color-primary;
}
.country {
  justify-content: center;
  display: flex;
}
</style>
