<template>
  <section>
    <the-header>Country details</the-header>
    <base-tile>
      <tile-text-header>{{ country.name }}</tile-text-header>
      <TheItemList target="cities" />
      <tile-content>
        <tile-img-header>
          <base-image :src="getImage" alt="photo" />
        </tile-img-header>
        <div class="country__container">
          <h2>Details:</h2>
          <table class="table">
            <thead>
              <tr>
                <th class="table-cell">Item</th>
                <th class="table-cell">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in getCountryDetails" :key="index">
                <td class="table-cell">{{ index }}</td>
                <td class="table-cell">{{ item }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tile-content>

      <tile-footer>
        <base-link :to="`/countries/${countryId}/edit`">Edit</base-link>
        <base-link to="/countries/">Back to the list</base-link>
        <base-button @on-click="showModal">Remove</base-button>
      </tile-footer>
    </base-tile>

    <modal-container
      v-if="isVisible"
      @show-modal="showModal"
      @action-type="handleDeleteCountry(country.id)"
    >
      <template #header>Delete</template>
      <template #default>
        Do you really want to delete <b>{{ country.name }}</b> ?
      </template>
    </modal-container>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TheHeader from '../../components/UI/TheHeader.vue';
import BaseImage from '../../components/UI/shared/BaseImage.vue';
import BaseButton from '../../components/UI/shared/BaseButton.vue';
import BaseLink from '../../components/UI/shared/BaseLink.vue';
import BaseModal from '../../components/UI/shared/BaseModal.vue';
import BaseTile from '../../components/UI/tile/BaseTile.vue';
import TileContent from '../../components/UI/tile/TileContent.vue';
import TileFooter from '../../components/UI/tile/TileFooter.vue';
import TileImgHeader from '../../components/UI/tile/TileImgHeader.vue';
import TileTextHeader from '../../components/UI/tile/TileTextHeader.vue';
import ModalContainer from '../../components/UI/shared/ModalContainer.vue';
import { Action, Getter } from 'vuex-class';
import { CountryDetailsI, CountryI } from '../../typings';
import TheItemList from '../../components/UI/TheItemList.vue';

@Component({
  components: {
    TheHeader,
    BaseImage,
    BaseButton,
    BaseLink,
    BaseTile,
    BaseModal,
    TileContent,
    TileFooter,
    TileImgHeader,
    TileTextHeader,
    TheItemList,
    ModalContainer,
  },
})
export default class Country extends Vue {
  /* eslint-disable @typescript-eslint/no-unused-vars */
  @Prop({ type: String })
  countryId!: string;
  @Getter('countries/countryById') getCountryData!: (id: string) => CountryI;
  @Getter('continents/continentNameById') continentNameById!: (
    id: string
  ) => string;
  @Getter('cities/cityNameById') cityNameById!: (id: string) => string;
  @Action('countries/deleteCountry') deleteCountry!: (id: string) => void;

  country!: CountryI;
  isVisible = false;

  created(): void {
    this.country = this.getCountryData(this.countryId);
  }

  showModal(): void {
    this.isVisible = !this.isVisible;
  }

  get getCountryDetails(): CountryDetailsI {
    const {
      ['image']: removeImg,
      ['id']: removeId,
      ['continent']: continentId,
      ['capital']: capitalId,
      ...continentDetails
    } = this.country;
    const continentName = this.continentNameById(this.country.continent);
    let capitalName;
    if (this.country.capital) {
      capitalName = this.cityNameById(this.country.capital);
    } else {
      capitalName = 'no capital';
    }
    const userCountryDetails = {
      ...continentDetails,
      continentName,
      capitalName,
    };
    return userCountryDetails;
  }

  get getImage(): string {
    if (!this.country.image) {
      return 'https://tinyurl.com/sym7bn6x';
    }
    return this.country.image;
  }

  handleDeleteCountry(id: string): void {
    this.deleteCountry(id);
    this.$router.replace('/countries');
  }
}
</script>

<style lang="scss" scoped>
.country__container {
  @include centered;
  flex-direction: column;
  flex: 70%;
}

.table {
  width: 70%;
  height: 70%;
  text-align: center;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid $color-secondary;
}
</style>
