<template>
  <div class="map-container">
    <the-header>Cities map</the-header>
    <div class="map-content">
      <here-map-filter-switcher
        :filters="mapFilters"
        :continentsList="continentsList"
        :countriesList="countriesList"
        :citiesList="citiesList"
        :countriesByContinents="countriesByContinents"
        :citiesByCountries="citiesByCountries"
        :range="circleAreaRange"
        @searchCities="updateMarkers"
        @rangeChange="onRangeChange($event)"
        @cityChange="onCityChange($event)"
        @click="setActiveFilter($event)"
      />
      <here-map-container
        :editable="false"
        :markers="activeFilter === 'multiselect' ? markersToDisplay : mapMarker"
        :active-filter="activeFilter"
        :range="circleAreaRange"
        @onPositionChange="updateMarkers"
        @rangeChange="onRangeChange($event)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TheHeader from '../../components/UI/TheHeader.vue';
import HereMapContainer from '../../components/UI/hereMap/HereMapContainer.vue';
import HereMapFilterSwitcher from '../../components/UI/hereMap/HereMapFilterSwitcher.vue';
import { CityI, ContinentI, Coordinates, CountryI } from '../../typings';
import { mapFilters } from '../../const';
import { Getter } from 'vuex-class';
import { defaultCircleRange } from '../../const';

@Component({
  components: {
    TheHeader,
    HereMapContainer,
    HereMapFilterSwitcher,
  },
})
export default class Map extends Vue {
  @Getter('continents/continentsList') continentsList!: ContinentI[];
  @Getter('countries/countriesList') countriesList!: CountryI[];
  @Getter('cities/citiesData') citiesList!: CityI[];
  @Getter('countries/countriesByContinents') countriesByContinents!: (
    id: string[]
  ) => CountryI[];
  @Getter('cities/citiesByCountries') citiesByCountries!: (
    id: string[]
  ) => CityI[];
  @Getter('cities/citiesCoordinates') markers!: Coordinates[];
  @Getter('cities/citiesCoordinatesById') citiesCoordinatesById!: (
    id: string
  ) => Coordinates;

  mapFilters = mapFilters;
  markersToDisplay: Coordinates[] = [];
  circleAreaRange: number = defaultCircleRange;
  activeFilter: string = 'multiselect';
  markerId: string = '';

  get mapMarker(): Coordinates[] {
    const newCoordinates = this.citiesCoordinatesById(this.markerId);
    const filteredMarkers = this.markers.filter(
      (marker) => marker.data.cityId !== this.markerId
    );
    return this.markerId ? [newCoordinates, ...filteredMarkers] : [];
  }

  created(): void {
    this.markersToDisplay = JSON.parse(JSON.stringify(this.markers));
    this.markerId = this.citiesList[0].id;
  }

  updateMarkers(newMarkers: Coordinates[]): void {
    this.markersToDisplay = newMarkers;
  }

  onCityChange(filteredCityId: string): void {
    this.markerId = filteredCityId;
  }

  onRangeChange(event: number): void {
    this.circleAreaRange = event;
  }

  setActiveFilter(event: string): void {
    this.activeFilter = event;
    this.markerId = this.citiesList[0].id;
  }
}
</script>

<style lang="scss" scoped>
.map-container {
  padding-left: 5 * $spacing-unit;
  padding-right: 5 * $spacing-unit;
  padding-bottom: 5 * $spacing-unit;
}

.map-content {
  font-family: $font-family;
  font-size: $font-size-regular;
  color: $color-secondary;
}
</style>
