<template>
  <div id="app">
    <MenuContainer />
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MenuContainer from './components/menu/MenuContainer.vue';

@Component({
  components: { MenuContainer },
})
export default class App extends Vue {
  // created(): void {
  //   this.$store.dispatch('loadDataToLocalStorage');
  // }
}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-content {
  position: relative;
  top: 100px;
}
</style>
