<template>
  <header class="the-header">
    <h1 class="the-header__title">
      <slot />
    </h1>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class TheHeader extends Vue {}
</script>

<style lang="scss" scoped>
.the-header {
  width: 100%;
  min-height: 120px;
  padding: $spacing-unit * 3;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: $font-size-large;
    font-family: $font-family;
    color: $color-secondary;
  }
}
</style>
