<template>
  <div class="items__container">
    <h4>Available {{ target }}</h4>
    <ul class="items__list">
      <li v-for="item in items" :key="item.id">
        <router-link
          v-if="target === 'cities'"
          :to="{ name: 'city', params: { cityId: `${item.id}` } }"
        >
          {{ item.name }}
        </router-link>
        <router-link
          v-else
          :to="{ name: 'country', params: { countryId: `${item.id}` } }"
        >
          {{ item.name }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { ContinentI, CountryI } from '../../typings';
import { CityI } from '../../typings';
import { Getter, Action } from 'vuex-class';

@Component({})
export default class TheItemList extends Vue {
  @Getter('countries/countriesFromContinent') filterCountries!: (
    id: string
  ) => CountryI[];
  @Getter('cities/citiesFromCountry') filterCities!: (id: string) => CityI[];
  @Getter('cities/citiesData') cities!: CityI[];
  @Getter('continents/continentById') continent!: (id: string) => ContinentI;
  @Getter('countries/countryById') country!: (id: string) => CityI;
  @Action('countries/fetchCountries') fetchCountries!: () => void;
  @Action('cities/fetchCities') fetchCities!: () => void;
  items: CountryI[] | CityI[] | undefined;
  @Prop({ required: true, type: String })
  readonly target!: string;

  created(): void {
    const id = Object.values(this.$route.params);
    if (this.target === 'countries') {
      this.fetchCountries();
      const continent = this.continent(id[0]);
      this.items = this.filterCountries(continent.id);
    } else {
      this.fetchCities();
      const country = this.country(id[0]);
      this.items = this.filterCities(country.id);
    }
  }
}
</script>

<style lang="scss" scoped>
.items__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items__list {
  border: 1px solid black;
  max-height: 90px;
  max-width: 150px;
  overflow-y: auto;
}
</style>
