<template>
  <form class="search" autocomplete="off">
    <form-input
      name="search-text"
      type="text"
      maxlength="200"
      v-model="searchText"
    />
    <base-button type="submit" mode="default" @on-click="handleSearch"
      >Search</base-button
    >
  </form>
</template>

<script lang="ts">
import { Vue, Component, Emit } from 'vue-property-decorator';
import BaseButton from './shared/BaseButton.vue';
import FormInput from './form/FormInput.vue';

@Component({
  components: {
    BaseButton,
    FormInput,
  },
})
export default class TheSearch extends Vue {
  searchText = '';

  @Emit()
  handleSearch(): string {
    return this.searchText;
  }
}
</script>

<style lang="scss" scoped>
.search {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
</style>
