<template>
  <div class="toggle-button">
    <div
      v-for="option in options"
      :key="option"
      :id="option"
      :class="[
        'toggle-button__option',
        { active: activeComponent === option ? true : false },
      ]"
      @click="onClick($event)"
    >
      <slot :name="option" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';

@Component({})
export default class ToggleButton extends Vue {
  @Emit('click')
  onClick(event: MouseEvent): void {
    this.activeComponent = (event.target as HTMLElement).id;
  }

  @Prop({ type: Array })
  options!: Array<string>;

  activeComponent: string = this.options[0];
}
</script>

<style scoped lang="scss">
.toggle-button {
  height: 5 * $spacing-unit;
  display: flex;
  cursor: pointer;
  margin: 2 * $spacing-unit 0;
}

.toggle-button__option {
  @include centered;
  border: 1px solid $color-secondary;
  min-width: 400px;
}

.active {
  background-color: $color-neutral-1;
  color: $color-primary-light;
  border-color: $color-primary;
}
</style>
